.ptinput{
  display: block;
  width: 80.8%;
  height:0.88rem;
  margin-top:0;
  margin-bottom:0.32rem;
  margin-left:8%;
  margin-left:8%;

  border:2px solid #dddddd;
  padding-left: 0.24rem;
  color: #333333;
  font-size:0.28rem;
}