.select{
  width: 6.3rem;
  height:0.88rem;
  margin-top:0px;
  margin-left:0.6rem;
  margin-right:0.6rem;
  margin-bottom:0.32rem;
  border:2px solid #dddddd;
  padding-left: 0.24rem;
  color: #999999;
  font-size:0.28rem;
  background: #ffffff url("../img/xl.png") no-repeat scroll right center;
}
.selectOption{
  width: 6.06rem;
  height:0.88rem;
  padding-left: 0.24rem;
  color: #999999;
  font-size:0.28rem;
}